

.fill-remaining-space {
    /*This fills the remaining space, by using flexbox.  
   Every toolbar row uses a flexbox row layout. */
   flex: 1 1 auto;
 }

.mat-toolbar.mat-primary {
    background: #673ab7;
    color: #fff;
}
.mat-button a{
    text-decoration: none;    
    color: #fff;
}
.mat-menu-item a{
    text-decoration: none;    
 
}
.mat-toolbar {

    position: fixed;
    z-index: 999;
}