<section id="home" class="home">
  <div class="home_overlay">
      <div class="container">
          <div class="row">
              <div class="main_slider_area">
                  <div class="slider">
                      <div class="single_slider">
                          <h3>Choose your accommodation</h3>
                          <p>modern  -  fast  -  reliable</p>
                          <div class="single_slider_img_icon">
                              <img src="assets/ii1.png" alt="" />
                          </div>
                          <div class="col-sm-6 col-sm-offset-3">
                              <div class="home_searce_domain_area">
                                  <div class="input-search">
                                      <mat-form-field>
                                            <input type="text" matInput placeholder="Type text here">
                                            
                                      </mat-form-field>
                                      <button mat-raised-button><mat-icon>search</mat-icon>Search</button>
                                      <button mat-raised-button color="warn"><mat-icon>assignment</mat-icon>Advance</button>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </div>
</section><!-- End of Banner Section -->