<body>
  <app-nav></app-nav>
  <div class="top-content">
        	
    <div class="inner-bg">
        <div class="container">
            
            <div class="row">
                <div class="col-sm-5">
    
                  <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Login to our site</h3>
                          <p>Enter username and password to log on:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                      </div>
                      </div>
                      <div class="form-bottom">
                    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate class="login-form">
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                        <mat-form-field style="width: 100%; font-size:20px">
                            <input matInput type="text" class="form-username form-control" placeholder="Username" name="username" [(ngModel)]="user.username" #username="ngModel" required />
                            
                        </mat-form-field>
                        <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                      </div>
                      <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                        <mat-form-field style="width: 100%; font-size: 20px">
                            <input  matInput type="password" class="form-username form-control" placeholder="Password" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                            
                        </mat-form-field>
                        <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                  </div>
                        <button type="submit" class="btn">Sign in!</button>
                    </form>
                  </div>
                </div>
            
              <div class="social-login">
                    <h3>...or login with:</h3>
                    <div class="social-login-buttons">
                      <a class="btn btn-link-2" href="#">
                        <i class="fa fa-facebook"></i> Facebook
                      </a>
                      <a class="btn btn-link-2" href="#">
                        <i class="fa fa-twitter"></i> Twitter
                      </a>
                      <a class="btn btn-link-2" href="#">
                        <i class="fa fa-google-plus"></i> Google Plus
                      </a>
                    </div>
                  </div>
                  
                </div>
                
                <div class="col-sm-1 middle-border"></div>
                <div class="col-sm-1"></div>
                  
                <div class="col-sm-5">
                  
                  <div class="form-box">
                    <div class="form-top">
                      <div class="form-top-left">
                        <h3>Sign up now</h3>
                          <p>Fill in the form below to get instant access:</p>
                      </div>
                      <div class="form-top-right">
                        <i class="fa fa-pencil"></i>
                      </div>
                      </div>
                      <div class="form-bottom">
                        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                              <label for="firstName">First Name</label>
                              <input type="text" class="form-control" name="firstName" [(ngModel)]="registation.firstName" #firstName="ngModel" required />
                              <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
                          </div>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                              <label for="lastName">Last Name</label>
                              <input type="text" class="form-control" name="lastName" [(ngModel)]="registation.lastName" #lastName="ngModel" required />
                              <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
                          </div>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                              <label for="username">Username</label>
                              <input type="text" class="form-control" name="username" [(ngModel)]="registation.username" #username="ngModel" required />
                              <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                          </div>
                          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                              <label for="password">Password</label>
                              <input type="password" class="form-control" name="password" [(ngModel)]="registation.password" #password="ngModel" required />
                              <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                          </div>
                          <div class="form-group">
                              <button [disabled]="loading" class="btn btn-primary">Register</button>
                              <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                              <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
                          </div>
                      </form>
                  </div>
                  </div>
                  
                </div>
            </div>
            
        </div>
    </div>
    
</div>

</body>
   